* {
    margin: 0;
    padding: 0;
    background-color: rgb(190, 186, 186);
}

header {
    height: 300px; 
    padding: 20px;
    background-color: rgb(190, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;    
}

h1 {
    color: rgb(196, 61, 61);
    font-family: 'Bungee Outline', cursive;
    font-size: 3rem;
    margin-left: 10px;
    margin-right: 10px;
}

.crono {
    color: rgb(85, 28, 192);
    font-family: 'VT323', monospace;
    font-size: 10rem;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}